body {
    font-family: "DejaVu Sans Condensed";
    padding: 50px 0;
}

hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    margin: 45px 0;
}

pre {
    overflow-x: auto;
    word-wrap: normal;
    white-space: pre;
}

.highlight {
    background-color: #FFFF30;
}