.header {
    background-color: #f2f2f2;
    position: fixed;
    top: -1px;
    border: solid thin silver;
    padding: 20px 15px 10px 15px;
    font-size: large;
    width: 100%;
}

a {
    color: #29828a;
}

.header a {
    display: inline;
    margin: 20px 50px 0 0;
    color: #29828a !important;
    font-family: Verdana, Sans-serif !important;
}

a.logo {
    font-family: "Maiandra GD" !important;
    font-size: x-large;
    text-decoration: none;
    color: #2727be !important;
}

body {
    font-family: Verdana, Sans-serif;
}

@media (min-width: 900px) {
    .content {
        padding: 65px 20px;
        border-left: solid thin silver;
        border-right: solid thin silver;
        height: 100%;
    }

    #smallNav {
        display: none;
    }
}

@media (max-width: 899px) {
    .header, #forkImg {
        display: none;
    }

    #smallNav a{
        font-size: larger;
    }
}

h4 {
    margin-top: 25px;
}

hr {
    margin-left: auto;
    margin-right: auto;
}

pre {
    overflow-x: auto;
    word-wrap: normal;
    white-space: pre;
}

.highlight {
    background-color: #FFFF30;
}

.bold {
    font-weight: bold;
}

.yellow {
    background-color: #FFFF30;
}

.italic {
    font-style: italic;
}

.bug {
    background-color: red;
    color: silver;
}

.enhancement {
    background-color: cornflowerblue;
}