body {
    font-family: "DejaVu Sans Condensed";
    padding-top: 50px;
}

hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    text-align: center;
    margin: 45px 0;
}

#dynamicDataWorker {
    margin-top: 15%;
}