<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ATable{% if page.title }%} - {{page.title}}{% endif %}</title>
    <link href="{{page.dir}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{page.dir}}/css/demo.css" rel="stylesheet">
    <link href="{{page.dir}}/css/styles.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{page.dir}}/lib/bootstrap.min.js"></script>
    {% if page.includes %}
    {{page.includes}}
    {% endif %}

</head>
<body>
<div class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8 offset2">
                <a href="{{page.dir}}/index.html" class="logo">ATable</a>
                <a href="{{page.dir}}/index.html">Home</a>
                <a href="{{page.dir}}/demo.html">Examples</a>
                <a href="{{page.dir}}/doc/index.html">API Docs</a>
                <a href="{{page.dir}}/test.html">Tests</a>
            </div>
        </div>
    </div>
</div>
<a href="https://github.com/jwoah12/aTable" id="forkImg"><img style="position: fixed; top: 0; left: 0; border: 0;"
                                                              src="{{page.dir}}/fork.png" alt="Fork me on GitHub"></a>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="content span8 offset2">
            <div id="smallNav">
                <a href="{{page.dir}}/index.html" class="logo">ATable</a><br/>
                <a href="{{page.dir}}/index.html">Home</a> |
                <a href="{{page.dir}}/demo.html">Examples</a> |
                <a href="{{page.dir}}/doc/ATable.html">API Docs</a> |
                <a href="{{page.dir}}/test.html">Tests</a>
                <hr/>
            </div>
            {{content}}
            <footer>
                <hr/>
                <p>Project maintained by <a href="https://github.com/jwoah12">Jared Wolinsky</a></p>
            </footer>
        </div>
    </div>
</div>
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-39412890-1");
        pageTracker._trackPageview();
    }
    catch (err) {
    }
</script>
</body>
</html>